

/* top */
#top{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50px ;
    background-color: black;


}



/* çubuk  */
#cubuk{
    position: absolute;
    bottom: 1px;
    height: 15px;
    width: 150px;
    border-radius: 20px 20px 20px 20px;
    background-color: red;
    /* fare ile etkileşimi engeller */
    pointer-events: none;
}